ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo {
  height: 43px;
}
nav {
  display: flex;
  margin-top: 10px;
}
.navbar-brand {
  font-size: 27px;
  padding-left: 10px;
  vertical-align: middle;
}
.nav-item a,
.nav-item div {
  color: #5f6368;
  white-space: nowrap;
  font-size: 16px;
  padding-block: 10px;
  font-weight: 500;
  max-height: 48px;
  min-height: 48px;
  align-items: center;
  display: flex;
}
.nav-item a:hover,
.nav-item div:hover {
  background-color: #f8f9fa;
  border-radius: 4px;
  color: #202124;
  outline: 0;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
li.nav-item {
  padding: 0 10px;
  padding-top: 5px;
}
.signin-image {
  height: 390px;
  border: 25px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}
textarea:focus,
input:focus {
  outline: none !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.cursor-pointer {
  cursor: pointer;
}
.jumbotron {
  background-color: white;
  flex-direction: row;
}
.sign-in {
  align-self: center;
}
@media screen and (max-width: 960px) {
  .jumbotron {
    flex-direction: column;
  }
  .container-2 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .sign-in {
    align-self: flex-start;
  }
}

/*.......... index page........... */
.home-wrap {
  background-color: #000;
  flex: 1;
}
.g-top {
  flex: 1;
  position: relative;
}
.video-wrap {
  height: 600px;
  overflow: auto;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 30% 30% 30%; */
  justify-content: center;
  /* grid-gap: 3%; */
}

.video-wrap > * {
  flex: 1 1 30%;
  max-width: 33%;
  min-height: 200px;
  border-radius: 10px;
  background-color: rgb(31, 30, 30);
  margin: 5px;
}
#me {
  max-width: 90%;
}
.g-top-left {
  position: absolute;
  right: 0;
  height: 48px;
  width: 177px;
  top: 0;
  border-bottom-left-radius: 10px;
}
.top-left-participant-wrap {
  position: relative;
}

.top-left-participant-count {
  position: absolute;
  top: -2px;
  right: -3px;
  font-size: 15px;
}
.g-bottom {
  /* margin: 0 -10px !important; */
  padding: 0 20px;
  box-shadow: 0 0 5px black;
  z-index: 2;
}
.bottom-left {
  position: relative;
  padding: 5px;
}
.action-icon-style {
  font-size: 8px !important;
  height: 40px;
  width: 40px;
  border: 1px solid lightgray;
  border-radius: 50%;
}
.action-icon-style span.material-icons {
  /* font-size: 18px; */
}
.end-call-wrap {
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.top-remote-video-show-wrap {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-image: url(../images/bg.png) !important; */
}
.active {
  background-color: #00808047;
  border-radius: 5px;
}
.top-box-show {
  display: flex;
  height: 100%;
  width: 100%;
  background: #0009;
  position: fixed;
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.top-box {
  background-color: rgb(14 6 6);
  width: 30%;
  height: 30%;
  min-width: 300px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 5px white;
  border-radius: 10px;
  border: 2px solid white;
}
.bottom-left {
  position: relative;
  padding: 5px;
}
.g-details {
  position: fixed;
  width: 442px;
  background-color: white;
  color: black;
  border-radius: 5px;
  bottom: 82px;
}
.g-details-heading-show {
  font-size: 14px;
  padding-left: 10px;
}
.button-blue-filled {
  background-color: rgb(26, 115, 232);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.button-blue-filled:hover {
  background-color: rgb(20, 92, 185);
  box-shadow: 0 0 5px black;
}
.button-blue-outline {
  border-color: rgb(214, 215, 216);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  line-height: 1;
  color: rgb(26, 115, 232);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: white;
}
.button-blue-outline:hover {
  background: rgba(206, 222, 247, 0.452);
  border-color: rgb(26, 115, 232);
}
a {
  white-space: nowrap;
}
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.learn-more:hover {
  text-decoration-line: underline;
}
.join-btn {
  background-color: "transparent";
  color: #1a73e8;
}
.join-btn:hover {
  background-color: #dae8fc3a;
  color: #174ea6;
}
#enter_code_button:focus-within {
  border-color: #1a73e8;
}
.bg-color-grey:hover {
  background-color: rgb(224, 220, 220);
}
#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.myImg {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  will-change: transform;
  border: none;
  border-radius: 50%;
}
#myImg {
  flex: 1;
}
.video-wrap::-webkit-scrollbar {
  width: 0.5em;
}
.video-wrap::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}
.video-wrap::-webkit-scrollbar-track {
  background-color: transparent;
}
.hover-link:hover {
  text-decoration-line: underline;
}